<!-- This the HTML file for the alternative template of the Modal. It is not used and should
     not be included in the production files of the app.
  -->

<div ng-controller="ModalCtrl">
  <div class="app" ng-show="eventInfo || true">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 left-col">
          <div class="row">
            <div class="page-header">
              <div class="dropdown rvsp pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" id="rsvp" data-toggle="dropdown">
                  RSVP
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Going</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Maybe</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Decline</a></li>
                  <li role="presentation" class="divider"></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Share</a></li>
                </ul>
              </div>
              <h1 class="name title"><a href="https://www.facebook.com/events/{{eventInfo.id}}" target="blank">{{eventInfo.name}}</a></h1>
              <h6 class="name host">
                <em>Hosted by <strong>Donald Duck</strong></em>
              </h6>
            </div>
          </div>
      <!-- <div class="container-fluid">
        <div class="row"> -->
          <div class="row">
            <div class="col-sm-5 left-col">
              <div class="col-sm-12 left-col">
                <div class="block">
                  <h4 class="main-text">
                    <span class="icon-clock icon" data-icon="c"></span>
                    {{eventInfo.start_time}}
                  </h4>
                  <h6 class="sub-text" ng-if="false">
                    Additional Time Info
                  </h6>
                </div>
              </div>
              <div class="col-sm-12 left-col">
                <div class="block">
                  <h4 class="main-text">
                    <span class="icon-location icon" data-icon="b"></span>
                    Location
                  </h4>
                  <h6 class="sub-text">
                    Additional Info
                  </h6>
                </div>
              </div>
              <div class="col-sm-12 left-col">
                <div class="block">
                  <h4 class="main-text">
                    <span class="icon-friend icon friend" data-icon="e"></span>
                    <span class="event-stat">333</span>
                    <span class="event-stat">343</span>
                    <span class="event-stat">34K</span>
                  </h4>
                  <h6 class="sub-text">
                    <span class="stat-label">Going</span>
                    <span class="stat-label">Maybe</span>
                    <span class="stat-label">Invited</span>
                  </h6>
                </div>
              </div>
            </div>
          <div class="col-sm-7 right-col">
            <div class="block">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt ultrices lectus, ac dapibus nisi. Pellentesque interdum lobortis arcu, in feugiat ligula lobortis sodales. Integer id ipsum at turpis convallis mollis nec nec lorem. Morbi elementum enim sed est vehicula vehicula id vel dui. Nunc tempus mauris orci, in pellentesque metus viverra sed. Cras elementum tempor turpis, ac viverra ipsum lacinia adipiscing. In hac habitasse platea dictumst. Nullam sed mauris iaculis urna egestas convallis nec vel arcu. Sed aliquet scelerisque mi vitae fermentum. Sed luctus nulla non lectus sollicitudin, vel ullamcorper ipsum mollis. Nam quis lobortis lacus. Proin mollis sodales posuere. Maecenas ultricies at urna vel ullamcorper.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 height">
          <div class="block affix">
            <form class="input-group">
              <textarea placeholder="Post to event's Facebook page..." class="form-control"></textarea>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default post-btn" type="button">Post!</button>
              </span>
            </form>
          </div>
          <div class="row">
          <div class="block">
            <blockquote><strong>Donald Duck</strong> posted <em>...im gone from like aug 2 until mid august but I dont remember what date exactly.... lol ill get back to you when im back tho~</em>
            <br>
            3 hours ago</blockquote>
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block">
            <blockquote><strong>Mickey Mouse</strong> posted <em>Here's a picture from the event!</em>
            <br>
            August 17th 5pm<span class="push-left">60 Likes</span></blockquote>
            <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s130x130/10547664_678628625549342_2586000951315173447_n.jpg?oh=20ad08ed1cf8d5d185dc3c0763bae2fb&oe=544315A1" alt="..." class="center-block img-thumbnail img-responsive">
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block add-on">
              <a class="push-left">Show older replies</a>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
          </div>
                    <div class="block">
            <blockquote><strong>Donald Duck</strong> posted <em>...im gone from like aug 2 until mid august but I dont remember what date exactly.... lol ill get back to you when im back tho~</em>
            <br>
            3 hours ago</blockquote>
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block">
            <blockquote><strong>Mickey Mouse</strong> posted <em>Here's a picture from the event!</em>
            <br>
            August 17th 5pm<span class="push-left">60 Likes</span></blockquote>
            <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s130x130/10547664_678628625549342_2586000951315173447_n.jpg?oh=20ad08ed1cf8d5d185dc3c0763bae2fb&oe=544315A1" alt="..." class="center-block img-thumbnail img-responsive">
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block add-on">
              <a class="push-left">Show older replies</a>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
          </div>
                    <div class="block">
            <blockquote><strong>Donald Duck</strong> posted <em>...im gone from like aug 2 until mid august but I dont remember what date exactly.... lol ill get back to you when im back tho~</em>
            <br>
            3 hours ago</blockquote>
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block">
            <blockquote><strong>Mickey Mouse</strong> posted <em>Here's a picture from the event!</em>
            <br>
            August 17th 5pm<span class="push-left">60 Likes</span></blockquote>
            <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s130x130/10547664_678628625549342_2586000951315173447_n.jpg?oh=20ad08ed1cf8d5d185dc3c0763bae2fb&oe=544315A1" alt="..." class="center-block img-thumbnail img-responsive">
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block add-on">
              <a class="push-left">Show older replies</a>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<br><a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
          </div>
      </div>


      <!-- <div class="row">
        <div class="col-sm-12 middle-col">
          <div class="block">
            <form class="input-group">
              <textarea placeholder="Post to event's Facebook page..." class="form-control"></textarea>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default post-btn" type="button">Post!</button>
              </span>
            </form>
          </div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="block">
            <blockquote><strong>Donald Duck</strong> posted <em>...im gone from like aug 2 until mid august but I dont remember what date exactly.... lol ill get back to you when im back tho~</em>
            <br>
            3 hours ago</blockquote>
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
        </div>
      </div> -->
<!--       <div class="row">
         <div class="col-sm-10 col-sm-offset-1">
          <div class="block">
            <blockquote><strong>Mickey Mouse</strong> posted <em>Here's a picture from the event!</em>
            <br>
            August 17th 5pm<span class="push-left">60 Likes</span></blockquote>
            <img src="https://scontent-a.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s130x130/10547664_678628625549342_2586000951315173447_n.jpg?oh=20ad08ed1cf8d5d185dc3c0763bae2fb&oe=544315A1" alt="..." class="center-block img-thumbnail img-responsive">
          </div>
          <div class="block add-on">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Like</button>
              </span>
              <input type="text" class="form-control" placeholder="Comment...">
            </div>
          </div>
          <div class="block add-on">
              <a class="push-left">Show older replies</a>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
              <blockquote><strong>Goofy</strong> replied <em>Good picture a huh huh. Omg, I just so love this picture so so much!</em>
              <br>
              August 17th 5pm<a class="push-left">Like</a><span class="push-left">87 Likes</span></blockquote>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="messageTitle">{{messageTitle}}</h4>
        </div>
        <div class="modal-body">
          {{messageBody}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
